<?xml version="1.0" encoding="UTF-8"?>


<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="server/jdbc.properties" />
 
	<bean
		id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.url}"
		p:username="${jdbc.username}"
		p:password="${jdbc.password}"
		p:initialSize="2"
		p:maxActive="10" />

	<bean
		id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:packagesToScan="devopsdistilled.operp.server.model"
		p:hibernateProperties="hibernateProps" />

	<util:properties id="hibernateProps">
		<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
		<prop key="hibernate.show_sql">true</prop>
		<prop key="hibernate.hbm2ddl.auto">create</prop>
		<prop key="hibernate.format_sql">true</prop>
	</util:properties>

	<bean
		id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />

	PersistenceExceptionTranslationPostProcessor is a bean post processor 
		which adds an advisor to any bean that’s annotated with @Repository so that 
		any platform-specific exceptions are caught and then rethrown as one of Spring’s 
		unchecked data access exceptions.

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />




























</beans>
